/*Comentario/*
body {
	padding: 20px;
	font-family: sans-serif;
	min-height: 100vh;
	box-sizing: border-box;
     background: lightgrey;
}

ul {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 8px;
	align-items: baseline;
	justify-content: space-around;
}

ul li {
	width: 18vw;
	border: solid 1px grey;
	border-radius: 20px;
	padding: 10px;
}

ul img {
	height: 16vw;
}
ul img {
	width: 120px;
	height: 120px;
    object-fit: cover;
	display: block;
	margin: 0 auto;
    border-radius: 15px;
}

@media (max-width: 670px) {
	ul {
		flex-direction: column;
	}
	ul img {
		height: 40vw;
	}

	ul li {
		width: 100%;
	}
}


